* {
    padding: 0%;
    margin: 0%;
}

#bio {
    text-align: center;
    padding: 1%;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #5fe99f;
    display: inline-block;
}

a:hover  {
    background-color: #008b41;
}

h1, h3 {
    padding: 4px;
}

p {
    text-align: center;
    background-color: white;
}